header{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}
.logo_img{
   width: 200px;
}
.Reservation{
	background-color: #F2F2F2;
   text-align: center;
}
.adresse{ 
	background-color: #d9d7d7;
}
.bouton{
border-radius: 50px;
border-style: none;
font-size : 100%;
line-height : 3.15;
font-weight : bold;
background: linear-gradient(to bottom,#FF79DA 9%,#FF79DA 10%,#9356DC 150%,#9356DC 90% );

}


.fonctionnement{
   margin-bottom: 2em;
   margin-top: 1em;
}
ol{
   display: flex;
   line-height: 3.15em;
   
   flex-direction: column;
}

.liste{
   background-color: #F2F2F2;
   display: flex;
   
   border: 3px solid #F2F2F2;
   border-radius: 2em;
   align-items: center;
   padding-right: 1em;
   margin-bottom: 1em;
   font-weight: bold;

}

.mobile{
   padding-right: 1em;
   color: grey;
}

.icone_list{
   padding-right: 1em;
   color: grey;
}

.store{
   padding-right: 1em;
   color: #9356DC;
}

                /* partie restaurant*/

.container_restaurant{
 border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 
}

.restaurant_img{                    /* Redimensionner l'image*/
	height: 190px;
    width: 350px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}



article{
	line-height: 2px;
	padding-left: 5px;
}

.restaurant{
  
   border-radius : 20px;
   background-color : white;
   margin-bottom: 1em;
   box-shadow : 5px 5px 8px rgba(170, 170, 170, 0.959)

}
                 /* Footer*/

h1{
   font-family: 'Shrikhand', cursive;
   font-size: medium;
   color: white;

}
footer{
   margin-top: 3em;
   background-color: #000000;
   display: flex;
   flex-direction: column;
}

.lien_footer{
   margin-bottom: 1em;
   margin-left: 1em ;
}
a{

   color: white;
   text-decoration: none;
}


                        /* Carte Ã  la franÃ§aise*/

.img_carte_1{
  background-color: white;
    height: 260px;
    width: 360px;
}
.carte_1_titre{
   color: black;
   
}

.carte_1{

   background-color: #F2F2F2;
}
                              /* la note enchantÃ©e*/
.carte_2{
   background-color: #F2F2F2;
}
.img_carte_2{
   object-fit: cover;
    height: 260px;
    width: 360px;
}
.carte_2_titre{
   color: black;

}

                               /* La palette du goût*/
.carte_3{
   background-color: #F2F2F2;
}                               
.img_carte_3{
   object-fit: cover;
    height: 260px;
    width: 360px;
}
.carte_3_titre{
   color: black;
}
                              /* Le délice des sens*/
.carte_4{
background-color: #F2F2F2;}                               
.img_carte_4{
 object-fit: cover;
 height: 260px;
  width: 360px;
}
 .carte_4_titre{
color: black;
}